<style>
  .requiredAsterisk:after {
    content:" *";
    color: red;
  }
  hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);   
  }
  .form-control {
    height: 35px;
  
  }
  </style>
<div class="container-fluid">
  <form class="form-horizontal" role="form" #modelForm="ngForm" (ngSubmit)="modelForm.form.valid && onFormSubmit()">
  <div class="box-header with-border">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">         
         <div class=" text-left m-2">Template Driven Form</div> 
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
                <div class="btn-group m-1" role="group" aria-label="Button group with nested dropdown">
                  <button id="btnReset" (click)="resetItems()" class="btn btn-secondary btn-sm" type="button"><i class="fa fa-spinner"></i>  Reset</button>
                  <button type="button" class="btn btn-secondary mr-0 ml-0 pr-0 pl-0" disabled></button>
                  <button id="btnSave" (click)="saveItems()" [class.disabled]="!modelForm.form.valid" class="btn btn-success btn-sm" type="button"><i class="fa fa-save"> </i> Save</button>
                  <button type="button" class="btn btn-secondary mr-0 ml-0 pr-0 pl-0" disabled></button>
                  <button id="btnView" (click)="viewItems()" class="btn btn-info btn-sm" type="button"><i class="fa fa-file"> </i> View</button>
                  <button type="button" class="btn btn-secondary mr-0 ml-0 pr-0 pl-0" disabled></button>
                  <button id="btnDelete"  [disabled]="isDisabled" (click)="deleteItems()"  class="btn btn-danger btn-sm" type="button"><i class="fa fa-trash"></i> Delete</button>
                </div>                         
        </div>
      </div>  
          
    </div>
<hr>
<div class="box-body" style="background-color: #FFFFFF;">
 
  <div class="row">  
    <div class="col-sm-4">
      <input type="text" id="UserID" name="UserID" placeholder="on Change Event" (change)="onChangeEvent($event)" > 
    </div>
    <div class="col-sm-4">
      
      <input type="text" id="UserID2" name="UserID2" placeholder="delete button disable" (input)="onChangeEvent2($event)"> 
    </div>
  </div>
<div class="row">   
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address:</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="model.address" [ngClass]="{'invalid-data': address.invalid && modelForm.submitted, 'valid-data': address.valid && modelForm.submitted}"
                required name="address" #address="ngModel" placeholder="Enter Address" class="form-control">
  
              <div *ngIf="address.invalid && modelForm.submitted">
                <span style="color: red;">Please Enter Address.</span>
              </div>  
            </div>
          </div>
        </div>
      </div>

        <div class="row">   
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
       
             <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">City:</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="model.city" [ngClass]="{'invalid-data': city.invalid && modelForm.submitted, 'valid-data': city.valid && modelForm.submitted}"
               name="city" #city="ngModel" placeholder="Enter City Name" class="form-control">

            <div *ngIf="city.invalid && modelForm.submitted">
              <span style="color: red;">Please Enter City.</span>
            </div>
          </div>
        </div>
      </div>
 
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <div class="form-group">
              <div class="row">
              <label class="col-sm-2 control-label" for="textinput">State:</label>
              <div class="col-sm-2">
                <input type="text" [(ngModel)]="model.state" name="state" required placeholder="State" class="form-control">
              </div>
    
              <label class="col-sm-2 control-label" for="textinput">Postcode:</label>
              <div class="col-sm-2">
                <input type="text" [(ngModel)]="model.postcode" [ngClass]="{'invalid-data': postcode.invalid && modelForm.submitted, 'valid-data': postcode.valid && modelForm.submitted}"
                  required name="postcode" #postcode="ngModel" placeholder="Enter Post Code" class="form-control">
    
                <div *ngIf="postcode.invalid && modelForm.submitted">
                  <span style="color: red;">Please Enter Valid Post Code.</span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
    
  
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Country:</label>
            <div class="col-sm-10">
              <select class="form-control" name="country" [(ngModel)]="model.country" #country="ngModel" [ngClass]="{'invalid-data': country.invalid && modelForm.submitted, 'valid-data': country.valid && modelForm.submitted}"
                required>
                <option [ngValue]="null">---Select---</option>
                <option *ngFor="let item of countryData" [value]="item">
                  {{item}}
                </option>
              </select>
  
              <div *ngIf="country.invalid && modelForm.submitted">
                <span style="color: red;">Please Select Country.</span>
              </div>
            </div>
          </div>
          </div>
   </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <div class="form-group">
            <div class="col-sm-3">
              <input type="checkbox" [(ngModel)]="model.aggrement" [ngClass]="{'invalid-data': aggrement.invalid && modelForm.submitted, 'valid-data': aggrement.valid && modelForm.submitted}" required name="aggrement" #aggrement="ngModel" class="form-check-input">
            </div>
            <label class="col-sm-9"> I aggree to Terms & Conditions</label>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <div class="form-group">
            <div class="col-sm-12" *ngIf="aggrement.invalid && modelForm.submitted">
              <span style="color: red;">Please Aggree with Terms & Conditions.</span>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="pull-right">
                <!--

             
                <button type="submit" class="btn btn-primary" [class.disabled]="!modelForm.form.valid" style="margin: 4px;">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>

                   -->
              </div>
            </div>
          </div>
          </div>  
      </div>


<!--
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">   <p style="color: white">Please Wait. </p>  </ngx-spinner> 
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "false"><p style="color: white" > Loading... </p></ngx-spinner>

-->


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>
</form>
</div>

