@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "~ag-grid-community/dist/styles/ag-theme-balham.css";



.ag-theme-alpine {
    @include ag-theme-alpine((
        odd-row-background-color: #CFD8DC
    ));
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }